.app {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__banner {
  width: 100%;
}

.header__link {
  font-family: Fantasy, cursive;
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.new-task__input,
.todo__input,
.done__input,
.done__label,
.todo__label {
  display: inline-block;
}

.new-task__row-wrapper {
  display: flex;
}

.todo__list,
.done__list {
  margin: 0;
  padding: 0px;
}

.todo__list-item,
.done__list-item,
.todo__title,
.done__title {
  list-style: none;
}

.new-task__input,
.new-task__button,
.done__input,
.todo__input,
.todo__button,
.done__button {
  outline: none;
}
.new-task__button {
  cursor: pointer;
}

.todo__button,
.done__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.todo__button:hover,
.done__button:hover {
  color: #3a3a3a;
}

.todo__title,
.done__title,
.new-task__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.new-task__input_text,
.todo__input_text,
.done__input_text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.todo__input_text:focus,
.done__input_text:focus {
  color: #333;
}

.new-task__label {
  display: block;
  margin: 0 0 20px;
}

.new-task__input {
  width: 420px;
  margin-right: 10px;
}

.todo__list-item,
.done__list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo__list-item > .todo__input_checkbox,
.done__list-item > .done__input_checkbox {
  margin: 0 10px;
}

.todo__list-item > .todo__label,
.done__list-item > .done__label,
.todo__list-item > .new-task__label,
.done__list-item > .new-task__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 337px;
}

.todo__list-item > .todo__input_text,
.done__list-item > .done__input_text {
  width: 310px;
}

.todo__img_delete,
.done__img_delete {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.todo__img_delete:hover,
.done__img_delete:hover {
  transform: rotateZ(0);
}

.done__list .done__label {
  text-decoration: line-through;
  color: #888;
}

.todo__input_text,
.done__input_text {
  display: none;
}

.edit-mode {
  display: inline-block;
  width: 310px;
}

.todo__list .edit-mode .todo__label,
.done__list .edit-mode .done__label {
  display: none;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}
